.milestones-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.subtitle {
    color: #555;
    margin-bottom: 10px;
}

.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-select,
.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-textarea {
    resize: none;
}

.form-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #0056b3;
}

.project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.milestones-list {
    margin-top: 10px;
    padding-left: 20px;
}

.milestone-card {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

.view-milestones-button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.view-milestones-button:hover {
    background-color: #0056b3;
}

.progress-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4caf50; /* Verde */
    margin-bottom: 10px;
    text-align: left;
}

.progress-text p {
    display: inline-block;
    /*background-color: #f0f0f0;*/
    padding: 5px 10px;
    border-radius: 5px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}
